    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

<link href="dashboard.component.css" rel="stylesheet">

<body>
    <div class="container-fluid d-flex h-100 text-center text-white bg-dark">
        <div class="d-flex w-100 h-100 p-3 flex-column">
            
            <div class="mt-2">
                <h3 class="float-md-start mb-0 h1">LABO</h3>
                   <nav class="nav nav-masthead justify-content-center float-md-end">
                       <a class="nav-link active" aria-current="page" href="#">Cliente</a>
                       <a class="nav-link" href="#">Laboratorista</a>
                       <a class="nav-link" href="#">Administrador</a>
                   </nav>
              </div>
    
            <div class="px-5 mt-50">
                <h1 class="p-title">¿Quienes somos?</h1>
                <p class="lead p-content">Labo es un proyecto de gestion de laboratorio, pensado para ayudar en la gestion de analisis para facilitar el trabajo de los clientes, administradores y laboratorista</p>
                <p class="lead"><a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Ingresar</a></p>
            </div>
    
            <div class="footer-end">
                <p class="p-footer">Corporation <a href="https://getbootstrap.com/" class="text-white">Hola</a>, by <a href="https://twitter.com/mdo" class="text-white">@Labo</a>.</p>
            </div>
            
        </div>
    </div>
</body>