body {
    height: 100vh;
    width: auto;
}

/* .container-body{
    display: flex;
} */

.container-left{
    background-color: #fff;
    height: 100vh;
}

.container-recep{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 1em .5em;
    text-align: center;
}

.container-title{
    /* width: 100%; */
    margin-top: 1em;
    height: 9hv;
    color: #fff;
}

.input{
    width: 80%;
    margin-bottom: 10px;
}

.modal-body{
    text-align: center;
}

.p-card{
    margin: 0;
    padding: 0;
}

.card-title{
    font-weight:  bolder;
}

.div-p{
    margin-bottom: .3em;
}

.div-cards{
    text-align: center;
}

.btn-card{
    width: 50%;
    margin: 0 auto;
}

.btn-menu{
    width: 80%;
    margin: 10px 10px;
}

/* ============== */

.card {
	background-color: #fff;
    font-size: calc(.5em + .5vw);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin: 20px 5px;
	transition: all 0.5s ease;
}

.card:hover {
	box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
		1px 6px 12px rgba(39, 44, 49, 0.04);
	transform: translate3D(0, -1px, 0) scale(1.02);
	transition: all 0.5s ease;
}

.mx-auto{
    display: flex;  /*display: flex; el cual vuelve al contenedor un elemento flex*/
  
    align-items: center;  /*justify-content: center; le decimos a los elementos del contenedor flex que se ubiquen al centro del eje principal eje horizontal*/
  }