<body class="bg-dark container-fluid">
    <div class="row">
        <div class="col-3 text-center container-left">
            <div class="container-recep">
                <p>User</p>
                <p>Apellidos</p>
                <p>Recepcionista</p>
                <button>Agregar Cliente</button>
                <button>Agregar Laboratorista</button>
                <button>Agregar Analisis</button>
                <button>Asignar Analisis</button>
                <button>Cerrar Sesión</button>
            </div>
        </div>
        <div class="col-9 text-center">
            <div class="container-title">
                <h1>LABO</h1>
            </div>
            <div class="row container-card">
                <div class="col-sm-4 card-analisis">
                    <p>Nombre de analisis</p>
                    <p>Nombre del cliente</p>
                    <p>Laboratorista</p>
                    <p>Estado</p>
                    <button>Modificar</button>
                </div>
                <div class="col-sm-4 card-analisis">
                    <p>Nombre de analisis</p>
                    <p>Nombre del cliente</p>
                    <p>Laboratorista</p>
                    <p>Estado</p>
                    <button>Modificar</button>
                </div>
                <div class="col-sm-4 card-analisis">
                    <p>Nombre de analisis</p>
                    <p>Nombre del cliente</p>
                    <p>Laboratorista</p>
                    <p>Estado</p>
                    <button>Modificar</button>
                </div>
                <div class="col-sm-4 card-analisis">
                    <p>Nombre de analisis</p>
                    <p>Nombre del cliente</p>
                    <p>Laboratorista</p>
                    <p>Estado</p>
                    <button>Modificar</button>
                </div>
                <div class="col-sm-4 card-analisis">
                    <p>Nombre de analisis</p>
                    <p>Nombre del cliente</p>
                    <p>Laboratorista</p>
                    <p>Estado</p>
                    <button>Modificar</button>
                </div>
                <div class="col-sm-4 card-analisis">
                    <p>Nombre de analisis</p>
                    <p>Nombre del cliente</p>
                    <p>Laboratorista</p>
                    <p>Estado</p>
                    <button>Modificar</button>
                </div>
                <div class="col-sm-4 card-analisis">
                    <p>Nombre de analisis</p>
                    <p>Nombre del cliente</p>
                    <p>Laboratorista</p>
                    <p>Estado</p>
                    <button>Modificar</button>
                </div>
                <div class="col-sm-4 card-analisis">
                    <p>Nombre de analisis</p>
                    <p>Nombre del cliente</p>
                    <p>Laboratorista</p>
                    <p>Estado</p>
                    <button>Modificar</button>
                </div>
            </div>
        </div>
    </div>
</body>