<body>
    <div class="container-fluid d-flex h-100 text-center text-white bg-dark">
        <div class="d-flex w-100 h-100 flex-column">
    
            <app-nav></app-nav>

            <div>
                <h3>Bienvenido Cliente</h3>
            </div>

            <div class="flex-column">
                <form action="">
                    <input type="text" id="user">
                    <input type="password" id="password">
                </form>
            </div>
            
        </div>
    </div>
</body>