<body>
    <div class="container-fluid d-flex h-100 text-center text-white bg-dark">
        <div class="d-flex w-100 h-100 flex-column">
    
            <app-nav></app-nav>

            <div class="mgTitle">
                <h3 class="title">Bienvenido Cliente</h3>
            </div>

            <div class="center mgInput">
                <form action="">
                    <input type="text" id="user" placeholder="Nombre o email del usuario" class="input-inline input">
                    <input type="password" id="password" placeholder="Contraseña" class="input-inline input">
                    <input type="submit" name="Login" id="userLogin" class="btn btn-primary">
                </form>
            </div>
            
        </div>
    </div>
</body>