body {
    height: 100vh;
    width: auto;
}

.input-inline{
  display: block;
  margin: 10px auto;
  width: calc(13em + 13vw);
  height: 30px;
}

.mgTitle{
  margin-top: 5%;
}

.title{
  font-size: calc(2em + 2vw);
}

.mgInput{
  margin-bottom: 3%;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

nav button{
  border: 0;
}

.btn{
  margin-top: 1rem;
}